.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.weapon-container {
  width: 100%;
  height: 100px;
  border: solid 1px;
}

.weapon {
  float: left;
  position: relative;
  width: 7%;
  padding-bottom: 7%;
  background-color: #f5d91c;
  border: solid 1px;
  cursor: pointer;
}

.weapon-content {
  position: absolute;
  height: 90%;
  width: 90%;
  padding: 5%;
}

.frame {
  float: left;
  width: 22%;
  padding-bottom: 22%;
  border: solid 1px;
  cursor: pointer;
  position: relative;
}

.frame-container {
  position: absolute;
  height: 90%;
  width: 90%;
  padding: 5%;
}
